ErrorDocument 404 /404.html

Options -MultiViews
RewriteEngine On

# Redirecionar solicitações para arquivos PHP para URLs sem a extensão .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)/?$ $1.php [L]