body {
    background-color: #556b2f;
    font-family: 'Roboto', sans-serif;
}

.login-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 600px;
    margin: auto;
}

.card-title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.form-label {
    font-weight: bold;
    font-size: 18px;
}

.form-control {
    font-size: 16px;
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.btn-login {
    background-color: #556b2f;
    border-color: #556b2f;
    width: 100%;
    font-size: 20px;
    padding: 15px;
    margin-top: 20px;
    color: #fff;
    display: block;
}

.btn-login:hover {
    background-color: #364614;
    border-color: #364614;
}

.link-container {
    text-align: center;
    margin-top: 15px;
}

.link-container a {
    color: #000;
    margin: 0 5px;
    text-decoration: none;
}

/* Estilo para a caixa de erro */
.alert-danger {
    display: none;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f00;
    background-color: #f8d7da;
    color: #721c24;
  }
  