body {
    background-color: var(--midnight-green);
    font-family: 'Roboto', sans-serif;
}

.login-modal, .registration-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: var(--dutch-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: auto;
    min-width: 350px;
    max-width: 750px;
    overflow-y: auto; /* Permite rolagem se o conteúdo for muito longo */
}

.card-title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--midnight-green);
}

.form-label {
    font-weight: bold;
    font-size: 18px;
    color: var(--midnight-green);
}

.form-control {
    font-size: 16px;
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--caribbean-current);
}

.btn-login {
    background-color: var(--caribbean-current);
    border-color: var(--caribbean-current);
    width: 100%;
    font-size: 20px;
    padding: 15px;
    margin-top: 20px;
    color: var(--dutch-white);
    display: block;
}

.btn-login:hover {
    background-color: var(--midnight-green);
    border-color: var(--midnight-green);
}

.link-container {
    text-align: center;
    margin-top: 15px;
}

.link-container a {
    color: var(--midnight-green);
    margin: 0 5px;
    text-decoration: none;
}

.link-container a:hover {
    color: var(--caribbean-current);
    text-decoration: underline;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-modal .card {
    font-family: 'Lato', sans-serif;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .registration-modal .card, .login-modal .card {
        position: fixed;
        top: 2%;
        bottom: 2%;
        left: 2%;
        right: 2%;
        z-index: 1050;
    }
}
